
body {
  background: #E8F5d8);
}

table {
  border-width: thin;
  border-color: black;
  border-style: solid;
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  border-width: thin;
  border-color: black;
  border-style: solid;
  padding: 5px;
}
th {
  background-color: #E8F5F6;
  padding: 5px;
}
